<div class="">
    <%= form_with(model: note, local: true, 
                  class: "bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 new_note",
                 id: "new_note") do |form| %>
    <% if note.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(note.errors.count, "error") %> prohibited this note from being saved:</h2>

        <ul>
          <% note.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
      <%= image_tag (@note.image_url), id: "previewImage" if @note.image_url%>

<div class="flex">
    <output id="list" class="content-center"></output>
</div>
    <div class="mb-6" id="drop_zone">Drag your image here</div>


    <%= form.file_field(:image, label: false, class: 'file-input', wrapper: false, label_html: { class: 'file-label' }) %>


    <div class="mb-4">
      <div class="mb-6">
        <%= form.label :title, class: "block text-gray-700 text-sm font-bold mb-2" %>
        <%= form.text_field :title, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
      </div>

      <div class="field">
        <%= form.label :body, class: "block text-gray-700 text-sm font-bold mb-2" %>
        <%= form.text_area :body, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
      </div>

      <div class="">
        <%= form.label :active, class: "text-gray-700 text-sm font-bold mb-2" %>
        <%= form.check_box :active, class: "mr-2 leading-tight" %>
      </div>


      <div class="mt-10">
        <%= form.submit class: "btn btn-default" %>
      </div>

    </div>
  <% end %>

</div>
