<div class="container mx-auto">
  <div class="max-w-lg p-10 ">
    <%= render 'form', note: @note %>

      
        <% @notes.each do |note| %>
      <div class="max-w-md p-5 overflow-hidden rounded shadow-lg">
            <p><%= note.title %></p>
            <p><%= note.body %></p>
            <p><%= note.active %></p>
            <p><%= note.user_id %></p>
            <%= link_to 'Show', note %>
            <%= link_to 'Edit', edit_note_path(note) %>
            <%= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
        <% end %>
      
  </div>
</div>
