<div class="w-1/2 px-2 pt-6 pb-8 mx-auto mb-4 text-lg">My Notes</div>
<% @mine.each do |m| %>


  <div class="w-1/2 px-8 pt-6 pb-8 mx-auto mb-4 bg-white rounded shadow-md">

    <p>Note you are viewing: <strong><%= m.title %></strong></p>

    <p class="mb-3">
      <%= image_tag m.image_url if m.image %>
    </p>

    <p class="text-sm">
      Created by:
      <strong> <%= fullname(m.user) %></strong>
    </p>

    <p class="mb-5 text-xs"><%= time_ago_in_words(m.created_at) %></p>

    <p class="mb-3">
      <%= m.body %>
    </p>

    <div class="">
      <% if user_signed_in? && current_user.id == m.user_id %>
        <div class="inline-block m-2"><%= link_to show_svg('pencil.svg'), edit_note_path(m), title: 'Edit' %></div>
        <div class="inline-block m-2"><%= link_to show_svg('trash.svg'), m, method: :delete, data: { confirm: 'Are you sure?' }, title: 'Delete' %></div>
      <% end %>
    </div>
  </div>
<% end %>
