<p>
  <strong>Title:</strong>
  <%= @note.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @note.body %>
</p>

<p>
  <strong>Active:</strong>
  <%= @note.active %>
</p>

<p>
  <strong>User:</strong>
  <%= @note.user.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @note.user.username %>
</p>

<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>
