<div class="container flex flex-row items-start justify-center mx-auto bg-gray-100">
  <div class="">

    <table>
      <% @hangouts.each do |hangout| %>
        <tr>
          <td><%= hangout.name %></td>
          <td><%= link_to 'Show', hangout %></td>
          <td><%= link_to 'Edit', edit_hangout_path(hangout) %></td>
          <td><%= link_to 'Destroy', hangout, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <td><%= link_to 'Join', hangout_hangout_users_path(hangout), method: :post %></td>
          <td><%= link_to 'Leave', hangout_hangout_users_path(hangout), method: :delete %></td>
        </tr>
      <% end %>
    </table>


    <p class="mt-3"><%= link_to 'New Hangout', new_hangout_path %></p>
  </div>
</div>
